@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  min-width: 100%;
  animation: marquee 20s linear infinite;
}
.marquee {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.marquee-track {
  display: inline-flex;
  gap: 3rem;
  min-width: max-content;
  animation: marquee-scroll 22s linear infinite;
  padding: 10px 0;
}

.marquee-track span {
  display: inline-block;
  font-size: 14px;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}